			body,ul,li{
				    padding: 0px;
				    margin: 0px;
				    list-style-type: none;
				    font-family: "微软雅黑";
			}
			header{
				width: 100%;
				height: 70px;
				box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
				/*background-color: red;*/
			}
			a{
				text-decoration: none;
				color: #425766;
			}
			.change{
				border:solid red;
				border-width:0px 0px 2px 0px;
			}
			.change a:only-of-type{
				color:red;
				
			}
			.h_body{
				width: 960px;
				height: 70px;
				line-height: 35px;
				margin: 0px auto;
				
				/*border: solid red;*/
			}
			.h_left{
				width: 242px;
				height: 35px;
				margin-top: 20px;
				float: left;
				background: url(../img/sprite.png) no-repeat -28px 0px;
				/*background-size: 100% 100%;*/
				/*background-color: #FAEBD7;*/
				
			}
			.h_rigth{
				width: auto;
				height: 70px;
				float: left;
				margin-left: 40px;
				/*background-color: #C5CEC8;*/
			}
			.h_rigth li{
				float: left;
				width: 120px;
				text-align: center;
				height: 68px;
				line-height: 68px;
				font-size: 14px;
				font-weight: 600;
				color: #425766;
				cursor: pointer;
			}
				#s_mall{
				width: 940px;
				margin: 20px auto;
				/*background-color: antiquewhite;*/
			}
			.s_body{
				position: relative;
				width: 940px;
				height: 218px;
				margin: 0px auto;
			    display: block;
				/*overflow: hidden;*/
			}
			.s_body .s_left{
				position: absolute;
				left: 0px;
				width: 180px;
				height: 218px;
/*				margin: 2px;*/
				float: left;
				box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
				/*background-color: cadetblue;*/
			}
			.s_body .s_left>a{
				text-align: center;
			    margin-left: 10px;
			    margin-top: 68px;
			    display: inline-block;
			    width: 156px;
			    height: 70px;
			    line-height: 40px;
			    font-weight: 700;
			    font-size: 16px;
			    color: #fff;
			    background:url(../img/sprite1.png) no-repeat -118px -1637px
			}
			.s_body .s_left>p{
				line-height: 20px;
			    color: #8596a2;
			    font-size: 12px;
			    width: 156px;
			    text-align: center;
			    margin-left: 12px;
			}
			.s_body .s_rigth{
				position: absolute;
				right: 0px;
				width: 747px;
				height: 218px;
				background-color: aquamarine;
				overflow: hidden;
			}
			.s_r_body{
				position: relative;
				width: 4000px;
				height: 218px;
				background-color: chartreuse;	
			}
			#s_mall div[class^=photo]{
				width: 747px;
				height: 218px;
				float: left;
				/*background: red;*/
			}
			#s_mall .photo1{
				/*float: left;
				width: 747px;
				height: 218px;*/
				background: url(../img/banner01.png);
				background-size: 100% 100%;
				/*background-color: red;*/
			}
			#s_mall .photo2{
				background: url(../img/banner02.png);
				background-size: 100% 100%;
			}
			#s_mall .photo3{
				background: url(../img/banner03.jpg);
			}
			#s_mall .photo4{
				background: url(../img/banner04.jpg);
			}
			#s_mall .photo5{
				background: url(../img/banner01.png);
			}
			#rigth_bt{
			    position: absolute;
			    width: 33px;
			    height: 64px;
			    top: 77px;
			    z-index: 2;
			    right: 10px;
			    cursor: pointer;
			    background: url(../img/sprite.png) no-repeat -237px -1936px;
			    /*background-color: darkblue;*/
			}
			#left_bt{
			    position: absolute;
			    width: 33px;
			    height: 64px;
			    position: absolute;
			    top: 77px;
			    z-index: 2;
			    left: 200px;
			    background: url(../img/sprite.png) no-repeat -237px -1869px;
			    cursor: pointer;
			     /*background-color: darkblue;*/
			}
			article{
				width: 940px;
				height: 600px;
				margin: 10px auto;
				/*background-color: antiquewhite;*/
				display: block;
			}
			article div[class^=a_part]{
				width: 940px;
				height: 340px;
				color: #425766;
				line-height: 20px;
				margin: 0px 0px 20px 0px;
				box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
				/*background-color: aquamarine;*/
			}
			
			article div[class^=a_part] .p_top{
				height: 36px;
    			padding: 20px 23px 0;
    			/*background-color: red;*/
			}
			.a_part1 .p_top .icon{
				float: left;
			    width: 16px;
			    height: 16px;
			    margin: 2px 10px 10px 20px;
			    /*background-color: aliceblue;*/
				background: url(../img/sprite1.png) no-repeat -254px -2117px;
			}
			.a_part1 .p_top p{
				float: left;
			    margin: 4px 10px 0 0;
			    font-size: 16px;
			    line-height: 12px;
			    color: #425766;
			}
			.a_part1 .p_top .score{
				float: left;
			    position: relative;
			    height: 22px;
			    padding: 0 10px;
			}
			.a_part1 .p_top .score img:nth-of-type(1){
				position: absolute;
			    bottom: -14px;
			    height: 20px;
			}
			.a_part1 .p_top .score img:nth-of-type(2){
				position: relative;
			}
			.a_part1 .p_top .score img:nth-of-type(3){
				position: relative;
			}
			.p_body ul{
				position: relative; 
			    height: 230px;
			    width: 802px;
			    top: 10px;
			    margin: 0px auto;
				/*background-color: greenyellow;*/
			}
			.a_part1 .p_body li{
				position: relative;
			    float: left;
			    margin-right: 67px;
			    width: 200px;
			    height: 200px;
			    background: url(../img/circle.png) no-repeat;
			    /*background-color: red;*/
			}
			.a_part1 .num{
				display: inline-block;
				position: absolute;
				left: 85px;
				top: 80px;
			}
			.a_part1 .num b{
				font-size: 40px;
			}
			.a_part1 li .speed{
				position: absolute;
				left: 55px;
				bottom: 10px;
				display: block;
				width: 100px;
				height: 20px;
				font-size: 12px;
				text-align: center;
			}
			.a_part1 li span:last-child{
				display: inline-block;
				position: absolute;
			    top: 0px;
			    right: 0px;
			    width: 20px;
			    height: 20px;
			    background-color: red;
			    background: url(../img/sprite1.png) no-repeat -250px -2136px;
			}
.list_score {
	background: #fff;
	height: 320px;
	margin-top: 80px;
	margin-bottom: 20px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.list_score .top {
	height: 36px;
	padding: 30px 33px 0;
	
	/*background-color: red;*/
}
.list_score .icon {
	float: left;
	width: 16px;
	height: 16px;
	margin: 4px 10px 0 0;
	background: url(../img/sprite1.png) no-repeat -254px -2117px;
}
.recent .icon {
	background: url(../img/sprite1.png) no-repeat -255px -2182px;
}
.list_score p {
	float: left;
	margin: 4px 10px 0 0;
	font-size: 16px;
	line-height: 12px;
	color: #425766;
}
.score {
	float: left;
	position: relative;
	height: 22px;
	padding: 0 10px;
}
.score img:nth-of-type(1) {
	position: absolute;
	bottom: -14px;
	height: 20px;
}
.score img:nth-of-type(2) {
	position: relative;
}
.score img:nth-of-type(3) {
	position: relative;
}
.list_score ul.circle {
	position: relative;
	height: 230px;
	width: 802px;
	margin: 0px auto
}
.list_score .circle li {
	position: relative;
	float: left;
	margin-right: 90px;
	width: 200px;
	height: 200px;
	background: url(../img/circle.png) no-repeat
}
.list_score li:nth-of-type(3) {
	margin-right: 0px;
}
.list_score .num {
	position: absolute;
	width: 200px;
	font-size: 20px;
	top: 80px;
	text-align: center;
}
.list_score .num strong {
	font-size: 40px;
}
.list_score .speed {
	position: absolute;
	bottom: 20px;
	width: 200px;
	text-align: center;
	font-size: 12px;
	color: #8596a2;
}
.list_score  li span {
	position: absolute;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20px;
	height: 20px;
	background: url(../images/sprite1.png) no-repeat -250px -2136px;
}
.online li {
	float: left;
	color: #425766;
	padding: 0 30px;
	font-size: 14px;
	height: 30px;
	cursor: pointer
}
.recent ol:nth-of-type(2){display:none;}
.recent ol:nth-of-type(3){display:none;}
.online .current {
	border-bottom: 2px solid #88b7ee;
	color: #88b7ee;
	font-weight: bold;
}
.chart {
	width: 650px;
	height: 140px;
	padding: 0 25px;
	margin: auto;
	border-bottom: 1px solid #e5e8ec;
}
.chart li {
	float: left;
	position: relative;
	width: 65px;
	height: 140px;
}
.chart .date {
	position: absolute;
	left: 0;
	bottom: -25px;
	width: 100%;
	line-height: 1em;
	font-size: 12px;
	text-align: center;
	color: #8596a2;
}
.line {
	position: absolute;
	left: 30px;
	bottom: -1px;
	width: 4px;
	height: 2%;
	border-radius: 2px 2px 0 0;
	background: #7bafec;
	transition: 0.6s;
}
/* banner */
.banner ul{width: 4000px;height: 218px;position: relative;}
.banner li{float: left;}
.banner .left{position: absolute;width: 33px;
    height: 64px;
    position: absolute;
    top: 77px;
    z-index: 2;
	left: 17px;
	background: url(../imag/sprite.png) no-repeat -237px -1869px;
	cursor:pointer;
}
.banner .right{position: absolute;width: 33px;
    height: 64px;
    position: absolute;
    top: 77px;
    z-index: 2;
	left: 700px;
	cursor:pointer;
	background: url(../img/sprite.png) no-repeat -237px -1936px;
}


			
